.App {
  font-family: sans-serif;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
nav {
  font-family: "Poppins", sans-serif;
  width: 100%;
  text-shadow: 0.5px 0.5px rgb(32, 30, 30);
  font-size: 1.5em;
}
body {
  margin: 0;
  padding-bottom: 2em;
  background: radial-gradient(
    circle at right,
    rgb(255, 123, 0),
    rgb(255, 255, 255),
    green
  );
}

ul {
  text-align: center;
}
section li {
  list-style: none;
  display: inline-block;
  padding: 0.6em;
  margin: 1em;
  /* border: 2px solid rgb(121, 167, 121); */
  border-radius: 0.5em;
  background-color: rgb(88, 177, 88);
  color: white;
  cursor: pointer;
  width: 100px;
  box-shadow: 5px 5px 5px black;
}
section li:hover {
  background-color: white;
  color: rgb(88, 177, 88);
  box-shadow: 10px 5px 5px gray;
}
span {
  text-align: center;
  display: block;
  padding: 1em;
  /* background-color: rgba(123, 255, 0, 0.37); */
  font-size: 1.5em;
}
img {
  width: 270px;
  height: 120px;
  margin-top: 0.1em;
  box-shadow: 5px 5px 5px #ccc;
}
